.storybook_header_container {
  background-color: #fafafa;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    right: 50%;
    background-color: #fafafa;
    height: 100%;
    margin: 0px -50vw;
    z-index: 0;
  }
  .storybook_header {
    position: relative;
    margin-top: -4rem;
    padding: 48px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Nunito Sans", -apple-system, ".SFNSText-Regular",
      "San Francisco", BlinkMacSystemFont, "Segoe UI", "Helvetica Neue",
      Helvetica, Arial, sans-serif;
    h1 {
      margin: 0;
    }
  }
}
