.storybook_header_container {
  background-color: red;
  background-color: #f6f6f6;
  border-bottom: 1px #dde1f1 solid;
  .storybook_header {
    max-width: 1000px;
    margin: auto;
    padding: 24px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .report_link {
      text-decoration: none;
      &:visited {
        color: #4dbfe7;
        &:hover {
          color: #8e9bcf;
        }
      }
      label.cta {
        cursor: pointer;
        display: flex;
        .icon {
          margin-top: -2px;
          margin-right: 4px;
        }
      }
    }
  }
}
